.elimination-round {
    display: flex;
    height: 100vh;
    width: 100%;
}

.elimination-round .selection-container {
    display: flex;
    flex-direction: column;
}

.elimination-round .grade {
    display: flex;
    margin: auto;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 85%;
    border: gray solid 3px;
    border-radius: 16px;
}

.elimination-round .category {
    display: flex;
    margin: auto;
    padding: 25px;
    margin-bottom: 50px;
    width: 85%;
    border: gray solid 3px;
    border-radius: 16px;
}

.elimination-round .link.to-view-question {
    margin-left: auto;
    margin-right: auto;
}